<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block login %}
    {% endblock %}
    {% block logout %}
    {% endblock %}

    {% block all_subjects %}
    {% endblock %}
    {% block insert_subject %}
    {% endblock %}
    {% block edit_subject %}
    {% endblock %}

    {% block all_students %}
    {% endblock %}
    {% block edit_student %}
    {% endblock %}
    {% block insert_student %}
    {% endblock %}

    {% block all_prof %}
    {% endblock %}
    {% block edit_prof %}
    {% endblock %}
    {% block insert_prof %}
    {% endblock %}

    {% block popis %}
    {% endblock %}
    {% block upisni_list %}
    {% endblock %}

    {% block izbornik_admin %}
    {% endblock %}
    {% block izbornik_prof %}
    {% endblock %}
    {% block izbornik_stud %}
    {% endblock %}

    {% block predmeti_po_prof %}
    {% endblock %}
    {% block studenti_po_predmetu %}
    {% endblock %}



    {% block upisni_list_po_studentu %}
    {% endblock %}

    {% block sem_izv %}
    {% endblock %}
    {% block sem_red %}
    {% endblock %}

    {% block polozeni_pred_po_studentu %}
    {% endblock %}

    {% block insert_upisni_list %}
    {% endblock %}
    {% block edit_upisni_list %}
    {% endblock %}

    {% block izbrisi_predmet %}
    {% endblock %}

    {% block admin_red %}
    {% endblock %}
    {% block admin_izv %}
    {% endblock %}


    {% block zad2 %}
    {% endblock %}




</body>
</html>

